requests>=2.19.0
pyyaml==5.1
python-dotenv>=1.0.0
sentence-transformers
faiss-cpu # Not gpu since this runs on a GitHub Actions runner
tree-sitter
tree-sitter-python
tree-sitter-javascript
tree-sitter-typescript